<ion-view view-title="Catalogo">
  <ion-content class="padding" ng-init="getTours()">
    <div class="tour-box" ng-repeat="tour in tours | orderBy:'id'">
      <div ng-click="openProduct(tour)">
        <div>
          <img class="tour-image-left" ng-src="{{tour.pictures[0].image_url}}">
        </div>
        <div class="tour-reservation-button">
        </div>
        <div class="tour-description-box">
          <div class="tour-description-info">
            <h4 ng-bind="tour.name"></h4>
            <p class="tour-description">
              <span>Descripción:</span>
              {{ tour.description | limitTo: 600 }}{{tour.description.length > 600 ? '...' : ''}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="empty-area text-center" ng-if="tours.length <= 0">
      <h2>No hay tours disponibles.</h2>
      <p class="italic">Si usted es el dueño de el negocio <span class="bold">{{currentBusiness.name}}</span> puede cargar sus tours en el panel de administración.</p>
    </div>
  </ion-content>
</ion-view>
